body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.image_admin {
  width: 80px;
  height: 100px;
  object-fit: cover;
}

.img-custom{
  border-radius: 20%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #343A40;
}

.card{
  margin-top: 50px;
}
.centro{
  width: 100%;

}
.margin-b{
  margin-bottom: 150px;
}

a:link, a:visited, a:active{
  text-decoration: none;
}